* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'acumin-pro', 'Acumin Pro', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #191919;
  background-color: #f9f9f9;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 50px 18px;
}

.topBar,
.navBar,
.main {
  display: none;
}

.hamburger-icon {
  font-size: 50px;
}

.hero {
  margin: 25px 0;
}

.hello,
.global {
  color: #ec5242;
  width: 80%;
}

.global {
  font-size: 28px;
}

.date {
  font-weight: bolder;
  padding: 6px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 50px 16px;
  background: #272a31;
}

.main-program {
  color: #fff;
  font-size: 32px;
}

hr {
  width: 60px;
  color: #ec5242;
  margin-bottom: 40px;
}

.program {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainIcon {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background: #585b639d;
}

.card {
  color: #fff;
  font-size: 70px;
}

.mainIcon h4 {
  color: #ec5242;
  font-weight: bolder;
  font-size: 32px;
}

.mainIcon p {
  color: #fff;
}

.btnday {
  background: #ec5242;
  padding: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}

.see {
  display: none;
}

.speaker {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 50px 16px;
}

.speaker-detail {
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img {
  width: 130px;
}

.speakerName {
  font-weight: bold;
}

.speakerStudy1 {
  color: #ec5242;
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #191919e3;
  padding: 50px;
  width: auto;
  align-items: center;
}

.partners h6 {
  font-size: 28px;
  color: #eee2e2f5;
}

.companies {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

footer h6 {
  font-size: 32px;
  text-align: center;
  margin: 50px 0;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0;
  }

  .topBar {
    background: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    padding-right: 50px;
  }

  .topBar-icon {
    color: #fff;
    font-size: 24px;
    padding-top: 18px;
  }

  .topbar i,
  .topBar p {
    color: #fff;
    margin: 14px 0;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 24px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 50%);
  }

  .hamburger-icon {
    display: none;
  }

  .navBar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .navBar li {
    list-style: none;
    font-size: 24px;
    line-height: 1.5px;
  }

  .navBar a {
    text-decoration: none;
  }

  .hero {
    width: 70%;
    padding: 140px 200px;
  }

  .day {
    margin: 12px 0;
    font-size: 40px;
    width: 40%;
    font-weight: bolder;
  }

  .youth {
    padding: 24px 0;
    background: #f2f2f2;
    border: 5px solid #fff;
    font-size: 20px;
  }

  .venue {
    font-size: 18px;
  }

  .date {
    font-size: 50px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 75px 50px;
    background: #272a31;
  }

  .main-program {
    color: #fff;
    font-size: 32px;
  }

  hr {
    width: 2%;
    margin-bottom: 10px;
  }

  .program {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 300px;
    margin-top: 40px;
  }

  .mainIcon {
    display: flex;
    flex-direction: column;
    border: 1px solid #94969b;
  }

  .card {
    color: #fff;
    font-size: 50px;
  }

  .mainIcon h5 {
    color: #ec5242;
    font-size: 24px;
  }

  .mainIcon p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 0 12px;
  }

  .btnday {
    display: none;
  }

  .see {
    display: block;
    font-size: 24px;
    color: #fff;
  }

  navLink {
    font-size: 24px;
    color: #272a31;
  }

  navLink:hover {
    color: #ec5242;
  }

  .speaker {
    background: #fff;
    padding: 50px;
    gap: 12px;
  }

  .speak {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    padding: 0 300px;
  }

  .featured {
    font-size: 32px;
  }

  .companies {
    gap: 100px;
    padding-top: 12px;
  }
}
